html, body {
  height: 100%;
  overflow-y: hidden;
}

body {
  background-color: black;
  color: white;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  min-height: 100%;
  width:100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.alert {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#top, #bottom {
  height: 10%;
  padding: 10px;
}

#top > div, #bottom > div {
  width: 100%;
  height: 100%;
}

#top {
  position: fixed;
  width: 100%;
  top: 0;
  max-height: 10%;
}

#middle {
  color: white;
  vertical-align: top;
  top: 10%;
  position: fixed;
  height: 80%;
  max-height: 80%;
  width:100%;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

#bottom {
  /* background-color: black; */
  bottom: 0;
  position: fixed;
  max-height: 10%;
  width: 100%;
  right: 0;
}

.newsimage {
  margin-right: 10px;
}

/* .userText {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  display: inline-block;
} */

/* .modal-dialog {
  width: 100%;
  height: 100%;
}

.modal-content {
  width: 90%;
  height: 90%;
}

.modal-body {
  padding: 0;
}

#settingFrame {
  width: 100%;
  height: 100%;
} */
