html,body { 
  height:100%;
  overflow-y:hidden;
}

body {
  background-color:black;
  color:white;
  font-size:large;
  font-family:Arial, Helvetica, sans-serif;
}

#container {
  min-height: 100%;
  position:relative;
}

.alert {
  position:absolute;
  width:100%;
  top:0;
  background-color:rgba(0, 0, 0, 0.5);
}

#top {
  width:100%;
  top:10;
}

#middle {
  color:white;
  vertical-align:top;
  padding-bottom: 200px;
}

#bottom {
  background-color:black;
  bottom:0;
  height:200px;
  left:15;
  position:absolute;
  right:10;
}

.newsimage {
  margin-right:10px;
}
