body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: left;
  background-color: #272B35;
}

.checkLabel {
    margin-right: 10px;
}

.navbar-custom {
  text-align: left;
  margin: auto;
  background-color: #000;
}

.nav.navbar-nav.navbar-right li a {
    color: blue;
}

.card {
    border: 1px;
    background-color: #1A1E27;
}

.card-header {
  background-color: #1A1E27;
  border-bottom-color: #1A1E27;
  border-radius: 0;
}

.card-header:first-child {
  border-radius: 0;
}

.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    background-color: #1A1E27;
    border-bottom: 0;
}

.modal-header {
  border-bottom: 0px solid #ff0000;
}

.modal-footer {
  border-top: 0px solid #ff0000;
}

.highlight {
    background-color: yellow;
}

.popover {
  color: #000;
}

.gm-style-iw {
  color: #000;
}

.showhideconfigButton {
  display:block;
}

.showhideconfig {
  display:none;
}

.showhideconfig::before {
  /* content:'This is my menumode' */
}

.fieldInfo-password {
  max-width: 330px;
}

.fieldInfo-password-login {
  max-width: 330px;
  text-align: center;
  width: 50%; 
  margin: auto;
}

.fieldInfo-username {
  max-width: 330px;
}

.fieldInfo-username-login {
  max-width: 330px;
  text-align: center;
  width: 50%; 
  margin: auto;
}

.fieldInfo-token {
  max-width: 330px;
}

.fieldInfo-ipaddress {
  max-width: 150px;
}

.fieldInfo-xsmall {
  max-width: 50px;
  white-space: nowrap;
}

.fieldInfo-small {
  max-width: 75px;
}

.fieldInfo-medium {
  max-width: 100px;
}

.fieldInfo-large {
  max-width: 150px;
}

.fieldInfo-xlarge {
  max-width: 250px;
}

.fieldInfo-2xlarge {
  max-width: 350px;
}

.fieldInfo-3xlarge {
  max-width: 450px;
}

.fieldInfo-select {
  /* display:inline-block; */
  max-width: 200px;
}

.form-alignment label{
  margin-top:.5rem;
}

.fieldInfo-group-text{
  margin-bottom:.5rem;
}

/* Dashed red border */
hr.internalconfigbreak {
  border-top: 1px dashed gray;
}